<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="global_assets/js/main/jquery.min.js"></script>
	<script src="global_assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="global_assets/js/plugins/loaders/blockui.min.js"></script>
	<script src="global_assets/js/plugins/ui/ripple.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="global_assets/js/plugins/forms/validation/validate.min.js"></script>
	<script src="global_assets/js/plugins/forms/styling/uniform.min.js"></script>

	<script src="assets/js/app.js"></script>
	<script src="global_assets/js/demo_pages/login_validation.js"></script>
	<!-- /theme JS files -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="application/javascript" src="../controler/inicio2.js"></script>

	<link href='fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='fullcalendar/packages/daygrid/main.css' rel='stylesheet' />

	<script src='fullcalendar/packages/core/main.js'></script>
	<script src='fullcalendar/packages/interaction/main.js'></script>
    <script src='fullcalendar/packages/daygrid/main.js'></script>
    <script src='fullcalendar/packages/core/locales/es.js'></script>
	<style>
		#tema{
			/*background-image: 'imagenes/fondo.jpg';*/
			background: cadetblue;

		}
	</style>
</head>

<body id="tema">

	
	<!-- Page content -->
	<div class="page-content login-cover">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
		<div class="card" style="margin:5%;">
			
			<div class="card">
				<div id="padres1" class="card">

					<!-- Form -->
					
						
						<div class="text-center mb-3">
							<!--<img src="imagenes/lima.jpg" class="card-img">-->
							<h5 class="mb-0">REGISTRO DEL ASESOR</h5>
							<span class="d-block text-muted">Llene los campos requeridos</span>
						</div>

						<div class="form-group text-center text-muted content-divider">
							<span class="px-2">Datos del asesor</span>
						</div>

						<div class="form-group form-group-feedback form-group-feedback-left">
							<input type="text" id="pnombre" class="form-control" placeholder="Nombres" required>
							<div class="form-control-feedback">
								<i class="icon-user-check text-muted"></i>
							</div>
							<!--<span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> This username is already taken</span>-->
						</div>

						<div class="form-group form-group-feedback form-group-feedback-left">
							<input type="text" id="papellidos" class="form-control" placeholder="Apellidos" required>
							<div class="form-control-feedback">
								<i class="icon-user-check text-muted"></i>
							</div>
							<!--<span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> This username is already taken</span>-->
						</div>

						<div class="form-group form-group-feedback form-group-feedback-left">
							<input type="text" id="pdocumento" class="form-control" placeholder="Documento de identidad" required>
							<div class="form-control-feedback">
								<i class="icon-user-check text-muted"></i>
							</div>
							<!--<span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> This username is already taken</span>-->
						</div>

						<div class="form-group form-group-feedback form-group-feedback-left">
							<input type="password" id="ppassword" class="form-control" placeholder="Contraseña" required>
							<div class="form-control-feedback">
								<i class="icon-user-lock text-muted"></i>
							</div>
						</div>

						<div class="form-group form-group-feedback form-group-feedback-left">
							<input type="password" id="ppassword2" class="form-control" placeholder="Repetir contraseña" required>
							<div class="form-control-feedback">
								<i class="icon-user-lock text-muted"></i>
							</div>
                        </div>
                        
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" id="pdireccion" class="form-control" placeholder="Dirección de residencia" required>
                            <div class="form-control-feedback">
                                <i class="icon-user-check text-muted"></i>
                            </div>
                                    <!--<span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> This username is already taken</span>-->
                        </div>
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <div id="odistrito"></div>
                                    
                            <div class="form-control-feedback">
                                <i class="icon-user-check text-muted"></i>
                            </div>
                                    <!--<span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> This username is already taken</span>-->
                        </div>

						<div class="form-group form-group-feedback form-group-feedback-left">
							<input type="text" id="pcorreo" class="form-control" placeholder="Correo" required>
							<div class="form-control-feedback">
								<i class="icon-user-check text-muted"></i>
							</div>
							<!--<span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> This username is already taken</span>-->
						</div>

						<div class="form-group form-group-feedback form-group-feedback-left">
							<input type="text" id="pcelular" class="form-control" placeholder="Celular" required>
							<div class="form-control-feedback">
								<i class="icon-user-check text-muted"></i>
							</div>
							<!--<span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> This username is already taken</span>-->
						</div>

						

						<!--<button type="submit" class="btn bg-teal-400 btn-block">Continuar <i class="icon-circle-right2 ml-2"></i></button>
						-->
						
						
                    
                        <div class="text-center mb-3">
							<!--<img src="imagenes/lima2.jpg" class="card-img">-->
							<h5 class="mb-0">DATOS PARA LA ASESORIA</h5>
							<span class="d-block text-muted">Llene los campos requeridos</span>
						</div>

						<div class="form-group text-center text-muted content-divider">
							<span class="px-2">Datos académicos</span>
						</div>

						<div class="form-group form-group-feedback form-group-feedback-left">
							<input type="text" id="carrera" class="form-control" placeholder="Carrera" required>
							<div class="form-control-feedback">
								<i class="icon-user-check text-muted"></i>
							</div>
							<!--<span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> This username is already taken</span>-->
						</div>

						<div class="form-group form-group-feedback form-group-feedback-left">
							<input type="text" id="universidad" class="form-control" placeholder="Universidad" required>
							<div class="form-control-feedback">
								<i class="icon-user-check text-muted"></i>
							</div>
							<!--<span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> This username is already taken</span>-->
						</div>
						
						<div class="form-group form-group-feedback form-group-feedback-left">
                            <div id="odistrito2"></div>
							<table style="width:80%; margin-left: 20px;">
								<tr>
									<td>Distritos de cobertura (puede ser más de uno)</td>
									<td><div id="cobertura"></div></td>
								</tr>
							</table>
							       
                            <div class="form-control-feedback">
                                <i class="icon-user-check text-muted"></i>
                            </div>
                            
						</div>
						
						<div class="form-group form-group-feedback form-group-feedback-left">
							<div style="margin-left:30px;" >
								Cursos que está dispuesto a dictar (puede ser más de uno):<br>
								<input type="checkbox" id="cur1" value="1"> Matemática<br>
								<input type="checkbox" id="cur2" value="2"> Lengua<br>
								<input type="checkbox" id="cur3" value="3"> Ciencias naturales<br>
								<input type="checkbox" id="cur4" value="4"> Ciencias sociales<br>
								<input type="checkbox" id="cur3" value="3"> Inglés<br>
								<input type="checkbox" id="cur4" value="4"> Francés<br>
							</div>
							<div class="form-control-feedback">
								<i class="icon-user-check text-muted"></i>
							</div>
							<!--<span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> This username is already taken</span>-->
						</div>

						<div class="form-group form-group-feedback form-group-feedback-left">
								<div style="margin-left:30px;" >
									Idiomas en los que puede dictar los cursos (puede ser más de uno):<br>
									<input type="checkbox" id="idm1" value="1"> Español<br>
									<input type="checkbox" id="idm2" value="2"> Inglés<br>
									<input type="checkbox" id="idm3" value="3"> Alemán<br>
									<input type="checkbox" id="idm4" value="4"> Portugues<br>
									<input type="checkbox" id="idm5" value="5"> Italiano<br>
									
								</div>
								<div class="form-control-feedback">
									<i class="icon-user-check text-muted"></i>
								</div>
								<!--<span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> This username is already taken</span>-->
							</div>
                        
                        <div class="text-center mb-3">
							<!--<img src="imagenes/lima2.jpg" class="card-img">-->
							<h5 class="mb-0">DISPONIBILIDAD DE CLASES</h5>
							<span class="d-block text-muted">Llene los campos requeridos</span>
						</div>
                        <div class="form-group text-center text-muted content-divider">
								<span class="px-2">Seleccionar horarios</span>
						</div>
						<div class="form-group form-group-feedback form-group-feedback-left">
							<div style="margin-left: 4%;">
								<center>
								<table>
									<tr >
										<td style="width:50%;">
											<!--<div id='calendar'></div>-->
											Periodo Enero - Marzo 2020 => Seleccionar días: 
											<select id="semana" onclick="CambioDia()">
												<option value="-1">Seleccione día</option>
												<option value="1">Lunes</option>
												<option value="2">Martes</option>
												<option value="3">Miercoles</option>
												<option value="4">Jueves</option>
												<option value="5">Viernes</option>
												<option value="6">Sabado</option>
												<option value="0">Domingo</option>
											</select>
										</td>
										<td style="width:50%;">
											<table style="width:80%; margin-left: 20px;">
												<tr>
													<td style="border: 1px sandybrown solid;">
														<center>DIA
														<br><div id="lafecha"></div></center>
													</td>
													<td style="border: 1px sandybrown solid;">
														<center>INICIO
														<br>
														<select id="inicia" onclick="CambioHora()">
															<option value="8">08</option>
															<option value="9">09</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
															<option value="13">13</option>
															<option value="14">14</option>
															<option value="15">15</option>
															<option value="16">16</option>
															<option value="17">17</option>
															<option value="18">18</option>
															<option value="19">19</option>
															
														</select>
														<select id="iniciaHora">
															<option value="00">00</option>
															<option value="30">30</option>
															
														</select></center>
													</td>
													<td style="border: 1px sandybrown solid;">
														<center>FINAL
														<br>
														<select id="finaliza">
															<option value="9">09</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
															<option value="13">13</option>
															<option value="14">14</option>
															<option value="15">15</option>
															<option value="16">16</option>
															<option value="17">17</option>
															<option value="18">18</option>
															<option value="19">19</option>
															<option value="20">20</option>
															
														</select>
														<select id="finalizaHora">
															<option value="00">00</option>
															<option value="30">30</option>
															
														</select></center>
													</td>
													<td style="border: 1px sandybrown solid;">
														<center>
															<button onclick="AddHora()" >AGREGAR</button>
														</center>
													</td>
												</tr>
												
												<tr style="margin-top:50px; font-size: 20px;">
													<td colspan="4">
														<center>RESUMEN HORARIO ELEGIDO:</center>
													</td>
												</tr>
												<tr style="margin-top:50px;">
													<td colspan="4">
														<div id="resultadoHorario"></div>
													</td>
												</tr>
											</table>
										</td>
											
											
									</tr>
									
								</table>
								<br>
									
							</center>
							</div>
							
							<div class="form-control-feedback">
								<i class="icon-user-check text-muted"></i>
							</div>
							<div class="form-group text-center text-muted content-divider">
								<span class="px-2">Adicionales</span>
							</div>

							<div class="form-group">
								<div class="form-check">
									<label class="form-check-label">
										<input onclick="Terminos()" type="checkbox" name="remember" class="form-input-styled" >
										Acepto los <a href="#">términos y condiciones</a>
									</label>
								</div>
							</div>
							<!--<span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> This username is already taken</span>-->
						</div>
						<!--<div class="form-group">
                            
							<button onclick="GuardaDatosHorario()" type="button" class="btn bg-blue btn-block" > GUARDAR </button>
                        </div>-->
                        <div class="form-group">
							<button onclick="GuardaAsesor()" type="button" class="btn bg-blue btn-block"> GUARDAR </button>
						</div>
					<!-- /form -->

				</div>
				<div id="mensaje"></div>
			</div>
			
	            <!-- Login form -->
				<div id="modal-login" class="modal fade" tabindex="-1">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">

							<!-- Form -->
							<form class="modal-body" action="index.html">
								<div class="text-center mb-3">
									<i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
									<h5 class="mb-0">Login to your account</h5>
									<span class="d-block text-muted">Your credentials</span>
								</div>

								<div class="form-group form-group-feedback form-group-feedback-left">
									<input type="text" class="form-control" placeholder="Username">
									<div class="form-control-feedback">
										<i class="icon-user text-muted"></i>
									</div>
								</div>

								<div class="form-group form-group-feedback form-group-feedback-left">
									<input type="password" class="form-control" placeholder="Password">
									<div class="form-control-feedback">
										<i class="icon-lock2 text-muted"></i>
									</div>
								</div>

								<div class="form-group d-flex align-items-center">
									<div class="form-check mb-0">
										<label class="form-check-label">
											<input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
											Remember
										</label>
									</div>

									<a href="login_password_recover.html" class="ml-auto">Forgot password?</a>
								</div>

								<div class="form-group">
									<button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 ml-2"></i></button>
								</div>

								<div class="form-group text-center text-muted content-divider">
									<span class="px-2">or sign in with</span>
								</div>

								<div class="form-group text-center">
									<button type="button" class="btn btn-outline bg-indigo border-indigo text-indigo btn-icon rounded-round border-2"><i class="icon-facebook"></i></button>
									<button type="button" class="btn btn-outline bg-pink-300 border-pink-300 text-pink-300 btn-icon rounded-round border-2 ml-2"><i class="icon-dribbble3"></i></button>
									<button type="button" class="btn btn-outline bg-slate-600 border-slate-600 text-slate-600 btn-icon rounded-round border-2 ml-2"><i class="icon-github"></i></button>
									<button type="button" class="btn btn-outline bg-info border-info text-info btn-icon rounded-round border-2 ml-2"><i class="icon-twitter"></i></button>
								</div>

								<div class="form-group text-center text-muted content-divider">
									<span class="px-2">Don't have an account?</span>
								</div>

								<div class="form-group">
									<a href="#" class="btn btn-light btn-block">Sign up</a>
								</div>

								<span class="form-text text-center text-muted">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
							</form>
							<!-- /form -->

						</div>
					</div>
				</div>
				<!-- /login form -->


	            


	            <!-- Password recovery form -->
				<div id="modal-recover" class="modal fade" tabindex="-1">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">

							<!-- Form -->
							<form class="modal-body" action="index.html">
								<div class="text-center mb-3">
									<i class="icon-spinner11 icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"></i>
									<h5 class="mb-0">Password recovery</h5>
									<span class="d-block text-muted">We'll send you instructions in email</span>
								</div>

								<div class="form-group form-group-feedback form-group-feedback-right">
									<input type="email" class="form-control" placeholder="Your email">
									<div class="form-control-feedback">
										<i class="icon-mail5 text-muted"></i>
									</div>
								</div>

								<button type="submit" class="btn bg-blue btn-block"><i class="icon-spinner11 mr-2"></i> Reset password</button>
							</form>
							<!-- /form -->

						</div>
					</div>
				</div>
				<!-- /password recovery form -->


	            <!-- Tabbed form -->
				<div id="modal-tabbed" class="modal fade" tabindex="-1">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">

							<!-- Form -->
							<form action="index.html">
								<ul class="nav nav-tabs nav-justified alpha-grey mb-0">
									<li class="nav-item"><a href="#login-tab1" class="nav-link border-y-0 border-left-0 active" data-toggle="tab"><h6 class="my-1">Sign in</h6></a></li>
									<li class="nav-item"><a href="#login-tab2" class="nav-link border-y-0 border-right-0" data-toggle="tab"><h6 class="my-1">Register</h6></a></li>
								</ul>

								<div class="tab-content modal-body">
									<div class="tab-pane fade show active" id="login-tab1">
										<div class="text-center mb-3">
											<i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
											<h5 class="mb-0">Login to your account</h5>
											<span class="d-block text-muted">Your credentials</span>
										</div>

										<div class="form-group form-group-feedback form-group-feedback-left">
											<input type="text" class="form-control" placeholder="Username">
											<div class="form-control-feedback">
												<i class="icon-user text-muted"></i>
											</div>
										</div>

										<div class="form-group form-group-feedback form-group-feedback-left">
											<input type="password" class="form-control" placeholder="Password">
											<div class="form-control-feedback">
												<i class="icon-lock2 text-muted"></i>
											</div>
										</div>

										<div class="form-group d-flex align-items-center">
											<div class="form-check mb-0">
												<label class="form-check-label">
													<input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
													Remember
												</label>
											</div>

											<a href="login_password_recover.html" class="ml-auto">Forgot password?</a>
										</div>

										<div class="form-group">
											<button type="submit" class="btn btn-primary btn-block">Sign in</button>
										</div>

										<div class="form-group text-center text-muted content-divider">
											<span class="px-2">or sign in with</span>
										</div>

										<div class="form-group text-center">
											<button type="button" class="btn btn-outline bg-indigo border-indigo text-indigo btn-icon rounded-round border-2"><i class="icon-facebook"></i></button>
											<button type="button" class="btn btn-outline bg-pink-300 border-pink-300 text-pink-300 btn-icon rounded-round border-2 ml-2"><i class="icon-dribbble3"></i></button>
											<button type="button" class="btn btn-outline bg-slate-600 border-slate-600 text-slate-600 btn-icon rounded-round border-2 ml-2"><i class="icon-github"></i></button>
											<button type="button" class="btn btn-outline bg-info border-info text-info btn-icon rounded-round border-2 ml-2"><i class="icon-twitter"></i></button>
										</div>

										<div class="form-group text-center text-muted content-divider">
											<span class="px-2">Don't have an account?</span>
										</div>

										<div class="form-group">
											<a href="#" class="btn btn-light btn-block">Sign up</a>
										</div>

										<span class="form-text text-center text-muted">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
									</div>

									<div class="tab-pane fade" id="login-tab2">
										<div class="text-center mb-3">
											<i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
											<h5 class="mb-0">Create account</h5>
											<span class="d-block text-muted">All fields are required</span>
										</div>

										<div class="form-group form-group-feedback form-group-feedback-left">
											<input type="text" class="form-control" placeholder="Your username">
											<div class="form-control-feedback">
												<i class="icon-user-check text-muted"></i>
											</div>
										</div>

										<div class="form-group form-group-feedback form-group-feedback-left">
											<input type="password" class="form-control" placeholder="Your password">
											<div class="form-control-feedback">
												<i class="icon-user-lock text-muted"></i>
											</div>
										</div>

										<div class="form-group form-group-feedback form-group-feedback-left">
											<input type="password" class="form-control" placeholder="Your email">
											<div class="form-control-feedback">
												<i class="icon-mention text-muted"></i>
											</div>
										</div>

										<div class="form-group text-center text-muted content-divider">
											<span class="px-2">Additions</span>
										</div>

										<div class="form-group">
											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
													Send me <a href="#">test account settings</a>
												</label>
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
													Subscribe to monthly newsletter
												</label>
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" name="remember" class="form-input-styled" data-fouc>
													Accept <a href="#">terms of service</a>
												</label>
											</div>
										</div>

										<button type="submit" class="btn bg-dark btn-block">Register</button>
									</div>
								</div>
							</form>
							<!-- /form -->

						</div>
					</div>
				</div>
				<!-- /tabbed recovery form -->


	            <!-- Validation form -->
				<div id="modal-validation" class="modal fade" tabindex="-1">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">

							<!-- Form -->
							<form class="modal-body form-validate" action="index.html">
								<div class="text-center mb-3">
									<i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
									<h5 class="mb-0">Login to your account</h5>
									<span class="d-block text-muted">Your credentials</span>
								</div>

								<div class="form-group form-group-feedback form-group-feedback-left">
									<input type="text" class="form-control" name="username" placeholder="Username" required>
									<div class="form-control-feedback">
										<i class="icon-user text-muted"></i>
									</div>
								</div>

								<div class="form-group form-group-feedback form-group-feedback-left">
									<input type="password" class="form-control" name="password" placeholder="Password" required>
									<div class="form-control-feedback">
										<i class="icon-lock2 text-muted"></i>
									</div>
								</div>

								<div class="form-group d-flex align-items-center">
									<div class="form-check mb-0">
										<label class="form-check-label">
											<input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
											Remember
										</label>
									</div>

									<a href="login_password_recover.html" class="ml-auto">Forgot password?</a>
								</div>

								<div class="form-group">
									<button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 ml-2"></i></button>
								</div>

								<div class="form-group text-center text-muted content-divider">
									<span class="px-2">or sign in with</span>
								</div>

								<div class="form-group text-center">
									<button type="button" class="btn btn-outline bg-indigo border-indigo text-indigo btn-icon rounded-round border-2"><i class="icon-facebook"></i></button>
									<button type="button" class="btn btn-outline bg-pink-300 border-pink-300 text-pink-300 btn-icon rounded-round border-2 ml-2"><i class="icon-dribbble3"></i></button>
									<button type="button" class="btn btn-outline bg-slate-600 border-slate-600 text-slate-600 btn-icon rounded-round border-2 ml-2"><i class="icon-github"></i></button>
									<button type="button" class="btn btn-outline bg-info border-info text-info btn-icon rounded-round border-2 ml-2"><i class="icon-twitter"></i></button>
								</div>

								<div class="form-group text-center text-muted content-divider">
									<span class="px-2">Don't have an account?</span>
								</div>

								<div class="form-group">
									<a href="#" class="btn btn-light btn-block">Sign up</a>
								</div>

								<span class="form-text text-center text-muted">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
							</form>
							<!-- /form -->

						</div>
					</div>
				</div>
				<!-- /validation form -->

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
