<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ALUMNI - INICIO DE SESION</title>
	<link href="../../images/logo2.png" rel="shortcut icon" type="image/x-icon" />
	<link href="../../css/bootstrap.css" rel="stylesheet" />
	<link href="../../css/styles.css" rel="stylesheet" />
	
	<!-- Core JS files -->
	<script src="../view/global_assets/js/main/jquery.min.js"></script>
	<script src="../view/global_assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="../view/global_assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="../view/assets/js/app.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="application/javascript" src="../controler/login.js"></script>
    <style>
		.padre{
		    /*IMPORTANTE*/
		      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQs-8qKzdfPYJpPQ6DmYSQMaptNJW2j-XqbIqtRP321rFo61Q30");
              display: flex;
              width: 100%;
              min-height:500px;
              height: 100%;
              justify-content: center;
              align-items: center;
              z-index: 1;
		}
		
		.padre2{
		    
              display: flex;
              width: 100%;
              min-height:400px;
              height: 100%;
              justify-content: center;
              align-items: center;
              z-index: 1;
		}
	</style>

</head>

<body style="width: 100%;">
	<div style="width: 100%;">
		<div class="row">
				<div class="col-md-4">
					<div id="texto_central" style="padding-bottom: 5%;">
						<div class="padre2">
							
							<table>
								<tr>
									<td>
										<center><img src="../../images/logo2.png" style="width: 200px; height: 200px;"></center>
									</td>
								</tr>
								<tr>
									<td>
										<div class="text-center mb-3">
											<h5 class="mb-0">Inicio de sesión</h5>
											<span class="d-block text-muted">Ingrese sus credenciales</span>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div>
											<input type="text" id="usuario" class="form-control" placeholder="Usuario">
											<div class="form-control-feedback">
												<i class="icon-user text-muted"></i>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div>
											<input type="password" id="password" class="form-control" placeholder="Contraseña">
											<div class="form-control-feedback">
												<i class="icon-lock2 text-muted"></i>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div>
											<button onclick="Acceso()" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 ml-2"></i></button>
										</div>
									</td>
								</tr>
							</table>
							
						</div>

					</div>
					<!--<h3>Tus talentos y habilidades irán mejorando<br />
						con el tiempo, pero para eso<br />
						has de empezar (Martin Luther King)</h3>-->
					<div class="mg-50-t"></div>
				</div>
			
				<div class="col-md-8">
					<video autoplay="" loop="" muted="" playsinline="" style="width: 100%;">
						<source src="../../videos/video.mp4" type="video/mp4" />
					</video>
				</div>		
		</div>
				
				<!-- /login form -->
	</div>
</div>
			<!-- /content area -->


			<!-- Footer -->
			
<footer class="pd-20-t" id="footer">
    <div class="container text-center">
        <div class="footer-wrap">
            <div class="col-md-4 ">
                <a href="../../index.html"><img src="../../images/logo2.png" style="width: 80%;"></a>    
                
                <p class="mg-20-t">Somos un programa dedicado a potenciar la educación escolar generando una red de intercambio de conocimiento con universitarios</p>
            </div>

            <div class="col-md-4">
                <div class="copy-text">
                    <h3><p>INFORMACIÓN DE CONTACTO</p></h3>
                    <br>
                    <table>
                        <tr>
                            <td>
                                <div style="width: 25px;">
                                    <img src="https://img.icons8.com/material/24/000000/gmail.png">
                                </div>
                            </td>
                            <td>
                               <div style="margin-left: 8px; margin-bottom: 18px;">Para solicitar mayor información o responder alguna duda escribirnos a <a href="mailto:alumniasesorias@gmail.com">: alumniasesorias@gmail.com</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="margin-top: 18px; width: 25px;">
                                    <img src="https://img.icons8.com/material-outlined/24/000000/phone-office.png">
                                </div>
                            </td>
                            <td>
                               <div style="margin-left: 8px; margin-top: 18px;">Llamarnos a: <a href="tel:+51995552908">995552908</a></div>
                            </td>
                        </tr>
                    </table>
                        
                
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="copy-text">
                    <h3><p>RED ALUMNI</p></h3>
                    <br>
                    <a href="public/view/inicio2.html"><button style="width: 80%; color:black;" >INSCRIBIRSE</button></a>
                    <br><br><br>
                    <a href="public/view/login.html"><button style="width: 80%; color:black;" >INICIAR SESIÓN</button></a>
                </div>
            </div>

            
        </div>
    </div>
</footer>
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
